app-housing-location {
    width: 0px;

}

.inputFilter {
    border: solid 1px rgb(96, 93, 200);
    padding: 10px;
    padding-right: 150px;
    border-radius: 10px;
    margin-right: 2px;
    margin-left: 70px;

}

.inputFilter:focus {
    outline: 1px solid rgb(96, 93, 200);
}

.primary {
    padding: 12px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: rgb(96, 93, 200);
    cursor: pointer;

}

.primary:hover {
    background-color: rgb(83, 81, 163)
}

.results {
    display: grid;
    grid-template-columns: repeat(5, 350px);
    gap: 10px;
    column-gap: 2px;
    padding: 5px 0px;

}